In [447]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [448]:
# Read in data
dat = pd.read_csv('listings.csv')
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6366 entries, 0 to 6365
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6366 non-null   int64
 1   listing_url                                   6366 non-null   object
 2   scrape_id                                     6366 non-null   float64
 3   last_scraped                                  6366 non-null   object
 4   name                                          6366 non-null   object
 5   description                                   6352 non-null   object
 6   neighborhood_overview                         4663 non-null   object
 7   picture_url                                   6366 non-null   object
 8   host_id                                       6366 non-null   int64
 9   host_url                                      6366 non-null   object
 10  host_name                                     6365 non-null   object
 11  host_since                                    6365 non-null   object
 12  host_location                                 6355 non-null   object
 13  host_about                                    4381 non-null   object
 14  host_response_time                            5187 non-null   object
 15  host_response_rate                            5187 non-null   object
 16  host_acceptance_rate                          5381 non-null   object
 17  host_is_superhost                             6365 non-null   object
 18  host_thumbnail_url                            6365 non-null   object
 19  host_picture_url                              6365 non-null   object
 20  host_neighbourhood                            5869 non-null   object
 21  host_listings_count                           6365 non-null   float64
 22  host_total_listings_count                     6365 non-null   float64
 23  host_verifications                            6366 non-null   object
 24  host_has_profile_pic                          6365 non-null   object
 25  host_identity_verified                        6365 non-null   object
 26  neighbourhood                                 4664 non-null   object
 27  neighbourhood_cleansed                        6366 non-null   object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      6366 non-null   float64
 30  longitude                                     6366 non-null   float64
 31  property_type                                 6366 non-null   object
 32  room_type                                     6366 non-null   object
 33  accommodates                                  6366 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                6362 non-null   object
 36  bedrooms                                      5829 non-null   float64
 37  beds                                          6285 non-null   float64
 38  amenities                                     6366 non-null   object
 39  price                                         6366 non-null   object
 40  minimum_nights                                6366 non-null   int64
 41  maximum_nights                                6366 non-null   int64
 42  minimum_minimum_nights                        6366 non-null   int64
 43  maximum_minimum_nights                        6366 non-null   int64
 44  minimum_maximum_nights                        6366 non-null   int64
 45  maximum_maximum_nights                        6366 non-null   int64
 46  minimum_nights_avg_ntm                        6366 non-null   float64
 47  maximum_nights_avg_ntm                        6366 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              6366 non-null   object
 50  availability_30                               6366 non-null   int64
 51  availability_60                               6366 non-null   int64
 52  availability_90                               6366 non-null   int64
 53  availability_365                              6366 non-null   int64
 54  calendar_last_scraped                         6366 non-null   object
 55  number_of_reviews                             6366 non-null   int64
 56  number_of_reviews_ltm                         6366 non-null   int64
 57  number_of_reviews_l30d                        6366 non-null   int64
 58  first_review                                  5282 non-null   object
 59  last_review                                   5282 non-null   object
 60  review_scores_rating                          5282 non-null   float64
 61  review_scores_accuracy                        5246 non-null   float64
 62  review_scores_cleanliness                     5246 non-null   float64
 63  review_scores_checkin                         5245 non-null   float64
 64  review_scores_communication                   5244 non-null   float64
 65  review_scores_location                        5245 non-null   float64
 66  review_scores_value                           5245 non-null   float64
 67  license                                       6031 non-null   object
 68  instant_bookable                              6366 non-null   object
 69  calculated_host_listings_count                6366 non-null   int64
 70  calculated_host_listings_count_entire_homes   6366 non-null   int64
 71  calculated_host_listings_count_private_rooms  6366 non-null   int64
 72  calculated_host_listings_count_shared_rooms   6366 non-null   int64
 73  reviews_per_month                             5282 non-null   float64
dtypes: float64(20), int64(20), object(34)
memory usage: 3.6+ MB

<h3>Unnecessary Columns</h3>

<h4>Drop off irrelevant columns:</h4>

* URLs will not be useful
* Empty columns: 'neighborhood_group_cleansed', 'bathrooms', 'calendar_updated'
* 'neighborhood' column only has blank values or 'Chicago, Illinois, United States' value
* 'scrape_id' is all the same value and not useful for our model
* 'last_scraped', 'calendar_last_scraped' will not be useful

In [449]:
dat = dat.drop(['scrape_id','listing_url','host_thumbnail_url','host_picture_url','picture_url',
               'neighbourhood_group_cleansed','bathrooms','calendar_updated','neighbourhood',
               'last_scraped', 'calendar_last_scraped'], axis = 1)

<h3>Data Cleansing</h3>

First, we will split the bathroom text column into two: one containing a float variable for the number of bathrooms, and the other an additional descriptor of the bathroom (shared/private).

<h4>Bathrooms Column:</h4>

In [451]:
# First let us make all text lowercase to simplify string manipulation

dat['bathrooms_text'] = dat['bathrooms_text'].str.lower()

# Next we must convert and text 'half' to 0.5 so it is included in the subsequent number extraction

dat['bathrooms_text'] = dat['bathrooms_text'].str.replace(r'(half)+','0.5', regex = True)

# Then extract the numbers into the new 'bathrooms' float32 data type column

dat['bathrooms'] = dat['bathrooms_text'].str.extract(r'(\d+\.?\d*)', expand = True).astype(np.float32)

# This leaves us with only float and NaN values

dat['bathrooms'].unique()

array([ 1. ,  2. ,  1.5,  3. ,  2.5,  0. ,  3.5, 11. ,  5. ,  nan,  0.5,
        4. ,  4.5, 11.5,  6.5,  7. ,  5.5,  6. ,  8. , 12.5, 10. ],
      dtype=float32)

<h4>Bathrooms Text Column:</h4>

In [452]:
# Remove the text 'bath', unnecessary symbols and whitespace, then extract the leftover text

dat['bathrooms_text'] = dat['bathrooms_text'].str.replace(r'(bath)s*|(Bath)s*','', regex = True)
dat['bathrooms_text'] = dat['bathrooms_text'].str.replace(r' +|\.+|\-+','', regex = True)
dat['bathrooms_text'] = dat['bathrooms_text'].str.extract(r'(\D+)')

In [459]:
# This leaves only two bathroom descriptors and NaN values

dat['bathrooms_text'].unique()

array(['shared', nan, 'private'], dtype=object)

<h4>DateTime Columns:</h4>

In [455]:
# Convert dates to datetime data type

dat['host_since'] = pd.to_datetime(dat['host_since'])
dat['first_review'] = pd.to_datetime(dat['first_review'])
dat['last_review'] = pd.to_datetime(dat['last_review'])

<h4>Rate Columns:</h4>

In [456]:
# Convert host response rate and acceptance rate columns into float

dat['host_response_rate'] = dat['host_response_rate'].str.replace(r'(\D)','', regex = True).astype(np.float32)/100
dat['host_acceptance_rate'] = dat['host_acceptance_rate'].str.replace(r'(\D)','', regex = True).astype(np.float32)/100

<h4>Boolean Columns:</h4>

In [460]:
# Map superhost column to boolean values

# Need to check this, I think empty values are converted to False:
dat['host_is_superhost'] = dat['host_is_superhost'].map({'t':True,'f':False}).astype('bool')

# These do not convert to boolean, but keeps the empty/nan values:
dat['host_has_profile_pic'] = dat['host_has_profile_pic'].map({'t':True,'f':False})
dat['host_identity_verified'] = dat['host_identity_verified'].map({'t':True,'f':False})

In [458]:
dat['host_is_superhost'].unique()

array([ True, False])